<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
   <server>
    <id>github</id>
    <username>ChrisBlanquet</username>
    <password>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</password>
</server>
  </servers>
</settings>